.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 71, 103);
    height: 80px;
    position: sticky;
    top: 0;
}

.navbar-wrapper>*{
    margin: 0 20px;
}

.navbar-links>*{
    margin: 0 10px;
}